     .btn-primary:hover {
       background-color: #add8e6;
       /* Azul claro */
       color: #0000ff;
       /* Azul oscuro */
       border: none;
       padding: 10px 20px;
       font-size: 16px;
       cursor: pointer;
     }
