      /* Estilos personalizados para un diseño elegante de color azul */
      .body {
        background-color: #f8f9fa;
        position: relative;
      }

      .header {
        background-color: #007bff;
        padding: 20px;
        color: #fff;
        text-align: center;
      }

      .content {
        padding: 20px;
        margin-top: 60px;
      }

      .table {
        width: 100%;
        margin-bottom: 20px;
        background-color: #fff;
      }

      .th {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        text-align: left;
      }

      .td {
        padding: 10px;
      }

      .table-container {
        margin: 0 auto;
        width: 80%;
      }
