<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Administrador</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div class="header">
    <h1>Bienvenido Administrador</h1>
  </div>

  <div class="content">
    <div class="table-container">
      <h2>Control de Préstamo de Laboratorio</h2>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Profesor</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hola de Inicio</th>
            <th scope="col">Hora de Fin</th>
            <th scope="col">Sala</th>
            <th scope="col">Equipo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody id="requestTable">
          <tr>
            <td>Profesor 1</td>
            <td>2023-05-01</td>
            <td>08:00</td>
            <td>10:00</td>
            <td>Laboratorio</td>
            <td>Laboratorio 1</td>
            <td>
              <button class="btn btn-success">Aprobar</button>
              <button class="btn btn-danger">Rechazar</button>
            </td>
          </tr>

          <!--las solicitudes de reserva se mostrarán aquí-->
        </tbody>
      </table>
    </div>
  </div>
  <!-- Agrega el enlace CDN de Bootstrap JS al final del body -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>