<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profesor</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Bienvenido Profesor</h1>
      </div>
      <div class="content">
        <h2>Reserva de Equipo Audiovisual</h2>
        <form id="reservaAudiovisual" action="" method="POST">
          <div class="form-group">
            <label for="equipo">Equipo:</label>
            <select class="form-control" name="equipo" required>
              <option value="">Seleccione un equipo</option>
              <option value="proyector">Proyector</option>
              <option value="altavoces">Altavoces</option>
              <option value="altavoces">Laptop</option>
              <option value="altavoces">HDMI</option>
              <option value="altavoces">VGA</option>
              <option value="altavoces">Cable De Poder</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input
              class="form-control"
              type="date"
              name="fecha_equipo"
              required
            />
          </div>
          <div class="form-group">
            <label for="hora_inicio">Hora de inicio:</label>
            <input
              class="form-control"
              type="time"
              name="hora_inicio_equipo"
              required
            />
          </div>
          <div class="form-group">
            <label for="hora_fin">Hora de fin:</label>
            <input
              class="form-control"
              type="time"
              name="hora_fin_equipo"
              required
            />
          </div>
          <button class="btn btn-primary" type="submit">Reservar Equipo</button>
        </form>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        const horaInicio = document.getElementById("hora_inicio_laboratorio");
        const horaFin = document.getElementById("hora_fin_laboratorio");

        horaFin.addEventListener("change", function () {
          const differenceInMinutes = (horaFin.value - horaInicio.value)
            .totalMinutes;

          if (differenceInMinutes > 120) {
            horaFin.value = horaInicio.value;
            alert("La reserva no puede ser mayor a 2 horas");
          }
        });
      });
    </script>
  </body>
</html>
